<div class="orders">
  <div class="flex align-items-end justify-end">
    <div class="top-search">
      <nb-form-field [formGroup]="searchOrder">
        <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
        <input type="text" placeholder="Search" nbInput formControlName="searchValue">
      </nb-form-field>
    </div>
    <div class="top-button">
      <button
        nbButton
        class="transform-none text-base"
        status="basic"
        size="medium"
        shape="semi-round"
        [routerLink]="'/new-order'"
      ><nb-icon icon="shopping-bag"></nb-icon>New Order</button>
    </div>
  </div>
  <div class="dashboard-table-header justify-center flex width">
    <div
      class="header flex justify-around align-item-center text-center border-radius-input style-normal fw-500">
      <div class="header-column1"></div>
      <div class="header-column2">Detail</div>
      <div class="header-column3">Date</div>
      <div class="header-column4">Party</div>
    </div>
  </div>
  <div class="flex justify-center width">
    <div class="dashboard-table-fields" [nbSpinner]="showSpinner" nbSpinnerSize="giant">
      <div class="fields" *ngFor="let order of ordersList">
        <div class="table-row">
          <div
            class="table-fields flex justify-around align-item-center text-center border-radius-input">
            <div class="field-column1 pointer" (click)="openOrderDetail(order)">
              <img src="{{ order['ImageURL'] }}" alt="order_image" class="order-image" />
            </div>
            <div class="field-column2 flex justify-center">
              <div
                class="column1-text flex align-item-center style-normal fw-500">
                <div class="hr-support-name text-base">{{ order['Order detail'] }}</div>
              </div>
            </div>
            <div class="field-column3 flex justify-center style-normal fw-500">
              <div class="text-m">{{ order['Date'] }}</div>
            </div>
            <div class="field-column4 style-normal fw-500 text-m">
              {{ order['PartyId']['Name'] }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="searchNotFound">
      <img [src]="ImageConstants.imagePath.searchNotFound" alt="search_not_found" />
    </div>
  </div>
</div>
