.parties {

  .top-search {
    margin-right: 10px;

    .nb-form-field-addon-basic {
      color: var(--dark-highlight);
    }

    .nb-form-field-addon-basic-highlight {
      color: var(--dark-highlight);
    }

    [nbInput].status-basic {
      background-color: var(--blush);
      border-color: var(--sidebar-background);
      color: var(--dark-highlight);
    }

    [nbInput].status-basic::placeholder {
      color: var(--dark-highlight);
    }
  }

  .dashboard-table-header {

    .header {
      width: 97%;
      padding: 10px;
      background: var(--blush);
      border: 1px solid var(--blush);
      margin-top: 30px;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: var(--dark-highlight);

      .header-column1 {
        width: 30%;
      }

      .header-column2 {
        width: 28%;
      }

      .header-column3 {
        width: 30%;
      }

      .header-column4 {
        width: 10%
      }
    }
  }

  .dashboard-table-fields {
    height: 735px;
    overflow: scroll;
    width: 97%;

    .fields {
      .table-fields {
        padding: 15px;
        margin-top: 10px;
        border: 1px solid var(--blush);
        background-color: var(--white);
        color: var(--dark-highlight);

        .field-column1 {
          width: 30%;

          .column1-text {
            width: 212px;
            line-height: 17px;
            letter-spacing: 0.01em;
            color: var(--font-color);
          }

          .profile-icon {
            height: 25px;
          }

          .profile-text {
            margin-left: 15px;
          }
        }

        .field-column2 {
          width: 28%;
          line-height: 15px;
          letter-spacing: 0.02em;
        }

        .field-column3 {
          width: 30%;
          line-height: 15px;
          letter-spacing: 0.02em;
        }

        .field-column4 {
          width: 10%;

          nb-icon {
            margin-right: 15px;
          }

          nb-icon:hover {
            color: var(--complimentary-green);
            font-size: 1.3rem;
          }
        }
      }
    }

    .table-row {
      margin-top: 10px;
    }
  }
}

.new-party {
  height: 100%;

  .title {
    margin-top: 20px;
    color: var(--dark-highlight);

    nb-icon {
      margin-right: 10px;
      color: var(--dark-highlight);
      font-size: 1.6rem;
    }

    .title-text {
      margin-top: 4px;
    }
  }

  .party-form {
    margin-top: 50px;
    margin-left: 20px;

    .party-fields {
      margin-top: 30px;

      div {
        margin-bottom: 5px;
      }

      .nb-form-field-addon-basic {
        color: var(--dark-highlight);
      }

      .nb-form-field-addon-basic-highlight {
        color: var(--dark-highlight);
      }

      [nbInput].status-basic {
        background-color: var(--blush)!important;
        border-color: var(--sidebar-background);
        color: var(--dark-highlight);
      }

      [nbInput].status-basic::placeholder {
        color: var(--dark-highlight);
      }

      [nbInput].input-full-width {
        width: 50%;
      }
    }
  }

  .party-footer {
    .buttons {
      margin-top: 50px;

      button {
        margin-right: 20px;
      }

      [nbButton].appearance-outline.status-basic, .appearance-outline.status-basic[nbButtonToggle] {
        border: 1.5px solid var(--sidebar-background);
        color: var(--dark-highlight);
      }

      [nbButton].appearance-filled.status-basic, .appearance-filled.status-basic[nbButtonToggle] {
        background-color: var(--complimentary-green);
        color: var(--header-background);
      }
    }
  }
}
