:root {
  --white: #ffffff;
  --black: #333333;
  --header-background: #FDF8F5;
  --sidebar-background: #DDAF94;
  --dark-highlight: #4F4846;
  --complimentary-green: #266150;
  --blush: #E8CEBF;
}

$font: 'Montserrat';
