<nb-layout>
  <nb-layout-header fixed class="navbar width" *ngIf="hideSidebar">
    <app-header class="width"></app-header>
  </nb-layout-header>
  <nb-sidebar class="sidebar width" *ngIf="hideSidebar">
    <app-sidebar class="width"></app-sidebar>
  </nb-sidebar>
  <nb-layout-column class="main-layout" [ngClass]="isLogged ? '' : 'flex justify-center align-item-center'">
    <nb-card [ngClass]="isLogged ? 'height' : 'fix-auth-layout'" class="box-shadow-card">
      <nb-card-body>
        <div class="height-100">
          <router-outlet></router-outlet>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
