.parties {
  .top-button {
    button {
      background-color: var(--complimentary-green)!important;
      color: var(--white) !important;
      line-height: 20px !important;
      letter-spacing: 0.02em;
    }
  }
}
